<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="navbar-brand" href="#">
      <img src="./assets/logo.png" height="30" class="d-inline-block align-top" alt="">
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link">
          <i class="fa fa-flag"></i>
        </a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" (click)="open()">
          <i class="fa fa-login" mdbRippleRadius></i>Autenticarse</a>
      </li>
    </ul>
  </links>
</mdb-navbar>


<div mdbModal #formModal="mdb-modal" class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title">
          <i class="fa fa-user"></i> Iniciar Sesión</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="md-form form-sm">
          <i class="fa fa-envelope prefix"></i>
          <input mdbActive type="email" id="form30" class="form-control" data-error="Correo invalido" data-success="Correo valido"
            placeholder="Correo electrónico" mdbInputValidate>
          <!-- <label for="form30">Correo electrónico</label> -->
        </div>

        <div class="md-form form-sm">
          <i class="fa fa-lock prefix"></i>
          <input mdbActive type="password" id="form31" class="form-control" placeholder="Contraseña">
          <!-- <label for="form31">Contraseña</label> -->
        </div>

        <div class="text-center mt-2">
          <button class="btn btn-info waves-light" mdbRippleRadius>Entrar
            <i class="fa fa-sign-in ml-1"></i>
          </button>
          <!-- <button type="button" class="btn btn-outline-info ml-auto" data-dismiss="modal" (click)="hide()" mdbRippleRadius>Salir</button> -->
        </div>

      </div>
      <!--Footer-->
      <div class="modal-footer">
        <!-- <div class="options text-center text-md-right mt-2">
        </div> -->
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login Form-->