<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark blue scrolling-navbar" [containerInside]="false">
  <logo>
    <a class="navbar-brand" href="#">
      <img src="./assets/logo.png" height="30" class="d-inline-block align-top" alt="">
    </a>
  </logo>
  <links>
    <form class="form-inline waves-light waves-light ml-auto" mdbRippleRadius>
      <button class="btn btn-outline-default btn-sm my-0 waves-light" type="submit" mdbRippleRadius>Autenticarse</button>
    </form>
  </links>
</mdb-navbar>