<section class="section feature-box">
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'">
        <!--First slide-->
        <mdb-slide>
            <div class="view hm-black-light">
                <img class="d-block w-100" src="/assets/carrousel.jpg" alt="First slide">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Light mask</h3>
                <p>First text</p>
            </div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <div class="view hm-black-strong">
                <img class="d-block w-100" src="/assets/carrousel.jpg" alt="Second slide">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Strong mask</h3>
                <p>Secondary text</p>
            </div>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <div class="view hm-black-slight">
                <img class="d-block w-100" src="/assets/carrousel.jpg" alt="Third slide">
                <div class="mask waves-light" mdbRippleRadius></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Slight mask</h3>
                <p>Third text</p>
            </div>
        </mdb-slide>
        <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
</section>

<div class="container py-5">
    <!--Section: Features v.1-->
    <section class="section feature-box">
        <!--Grid row-->
        <div class="row features-big">
            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <img src="/assets/img.jpg" alt="img 1" class="img-thumbnail">
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                    deleniti hic.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <img src="/assets/img.jpg" alt="img 1" class="img-thumbnail">
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                    deleniti hic.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-r">
                <img src="/assets/img.jpg" alt="img 1" class="img-thumbnail">
                <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                    deleniti hic.
                </p>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>

    <section class="section feature-box">
        <ul class="list-unstyled">
            <li class="media">
                <img class="d-flex mr-3" src="https://placehold.it/64x64" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                    congue felis in faucibus.
                </div>
            </li>
            <li class="media my-4">
                <img class="d-flex mr-3" src="https://placehold.it/64x64" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                    congue felis in faucibus.
                </div>
            </li>
            <li class="media">
                <img class="d-flex mr-3" src="https://placehold.it/64x64" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">List-based media object</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                    congue felis in faucibus.
                </div>
            </li>
        </ul>
    </section>
    <!--Section: Features v.1-->
</div>