<header>
    <!-- Directiva Navbar en el modulo modules/navbar -->
    <app-navbar></app-navbar>
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main class="text-center py-5">
    
    <!-- <div class="container"> -->
    <!-- <div class="row">
        <div class="col-md-12">
            <p align="justify"></p> -->

            <!-- Directiva pagina de inicio modules/home -->
            <app-home></app-home>

     <!--    </div>
    </div> -->
    <!-- </div> -->
</main>
<!--Main Layout-->

<!-- Directiva footer en el modules/footer -->
<app-footer></app-footer>