<!--Footer-->
<footer class="page-footer blue center-on-small-only">

  <!--Footer Links-->
  <div class="container">
    <div class="row">

      <!--First column-->
      <div class="col-md-4">
        <h5 class="title">Sobre Nosotros</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
            amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-4">
        <h5 class="title">Contáctenos</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit
          amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.</p>
      </div>
      <!--/.Second column-->

      <!--Third column-->
      <div class="col-md-4">
        <h5 class="title">Encuentranos</h5>
        <img src="./assets/social/f.png" class="d-inline-block align-top" alt="facebook">
        <img src="./assets/social/t.png" class="d-inline-block align-top" alt="twitter">
        <img src="./assets/social/in.png" class="d-inline-block align-top" alt="linkedin">
      </div>
      <!--/.Third column-->
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2017 Copyright:
      <a href="www.runstudies.com"> runStudies.com </a>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->